.mainContainer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 640px;
    background: linear-gradient(top,#FDD434,#F8E983,#F9E676,#FDD22C);
    background: -webkit-linear-gradient(top,#FDD434,#F8E983,#F9E676,#FDD22C);
}
.topTag {
    margin: 0 auto;
    width: 198px;
    height: 81px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: url("../image/logo.png") no-repeat center white;
    background-size: 161px;
    box-shadow: 0 1px 12px 0 #F88359;
}
.midTag {
    margin: 14px auto 0 auto;
    width: 640px;
    height: 240px;
    background: url(../image/title.png) no-repeat center;
    background-size: 600px;
}
.outer{
    position: relative;
    margin: 0 auto;
    width:581px;
    height:410px;
}
.inner{
    position: absolute;
    left: 50px;
    top: 5px;
    width: 480px;
    height: 480px;
    background: url("../image/turntable.png") no-repeat center;
    background-size: 480px;
    text-align: center;
    line-height: 200px;
    margin-top: -50px;
}
.lotteryRule{
    position: absolute;
    right: 22px;
    top: 22px;
    width: 124px;
    height: 39px;
    border-radius: 39px;
    text-align: left;
    text-indent: 33px;
    line-height: 39px;
    color: white;
    font-size: 20px;
    background: #F88359 url("../image/regular.png")no-repeat 6% center;
    background-size: 23px;
}
.history{
    position: absolute;
    left: 22px;
    top: 22px;
    width: 100px;
    height: 39px;
    border-radius: 39px;
    text-align: center;
    line-height: 39px;
    color: white;
    font-size: 20px;
    background: #F88359;
}
.butt{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    position: absolute;
    z-index: 1;
    left: 240px;
    top: 124px;
    width: 100px;
    height: 115px;
    border-radius: 50px;
    background: url("../image/pointer.png") no-repeat center;
    background-size: 100px;
    cursor: pointer;
    opacity: 1;
}
.butt:active{
    animation: bounceInUp 1s;
}
@-webkit-keyframes bounceInUp /* Safari and Chrome */
{
    0%   {-webkit-transform:  scale(1)}
    50%  { -webkit-transform: scale(2)}
    100%  {-webkit-transform: scale(1)}
}
.footer{
    width: 100%;
    padding-top: 30px;
}
.prize{
    text-align: -webkit-center;
}
.prize1{
    background:  url("../image/gift_1.png")no-repeat center center;
}
.prize2{
    background:  url("../image/gift_2.png")no-repeat center center;
}
.prizeBox{
    height: 150px;
    background-size: 180px;
}
.prizeInfo{
    margin-top: 5px;
    height: 20px;
    width: 230px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: #393939;
}
.shadowBox{
    position: absolute;
    z-index: 6;
    top:40%;
    left: 236px;
    width: 168px;
    height: 197px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: -webkit-center;
}
.fresh-icon{
    width: 100%;
    height: 100px;
    background: url("../image/refresh.png") no-repeat center;
    background-size: 70px;
}
.partStatus{
    position: absolute;
    top:50%;
    left: 50%;
    width: 421px;
    height: 535px;
    background: #FFFFFF;
    box-shadow: 0 2px 13px 0 #F88359;
    border-radius: 12px;
    margin: -277.5px 0 0 -210.5px;
    text-align: -webkit-center;
}
.partInner{
    height: 535px;
}
.partTitle{
    font-family: PingFangSC-Semibold;
    font-size: 42px;
    color: #F88359;
    letter-spacing: 0;
    line-height: 104px;
}
.partIMG{
    width: 246px;
    height: 224px;
    background: #D8D8D8;
}
.partState{
    width: 392px;
    margin:19px 0 20px 0;
}
.negativeButton{
    -webkit-appearance: none;
    outline: none;
    border:none;
    width: 291px;
    height: 82px;
    line-height: 82px;
    background: #F88359;
    border-radius: 54px;
    margin-bottom: 28px;
    font-size: 24px;
    color: #ffffff;
}
.btnContainer{
    height: 82px;
}
.unFocus{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 421px;
    height: 535px;
    background: #FFFFFF;
    box-shadow: 0 2px 13px 0 #F88359;
    border-radius: 12px;
    text-align: -webkit-center;
    margin: -277.5px 0 0 -210.5px;
}
.unFocusInner{
    height: 535px;
}
.QrCode{
    height: 382px;
}
.focusQrCode{
    margin-top: 54px;
}
.QrState{
    height: 58px;
    margin: 40px auto;
}
.stopState{
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -200px;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
}


